# Errors from projects

## Parameters, arguments - meh, who need them ?!

In [6]:
### A dictionary with some data
buba = {1:7, 2:"To alkochol, największa trucizna"}

def bad_func():
    buba[2] = "To napewno sprawka doktora Plamy"

In [7]:
print(buba)
bad_func()
print(buba)

{1: 7, 2: 'To alkochol, największa trucizna'}
{1: 7, 2: 'To napewno sprawka doktora Plamy'}

In [ ]:
# fix it:
def ...(..., ...,  . . ., ...):
    """ Returns ...
        Parameters: ... - ... 
                    ... - ...
        """
    ...
    return ...

## Searching and replacing in table / data frame
custom table obtained form dataframe has 'United States', becasue of errors we know that in **Geopandas package**\
there is *'United States of America'* and not *'United states'*, maybe becasue there are many "United states of ..." 

1. United Mexican States,
2. United States of Belgium,
3. Republic of the United States of Brazil 
4. United States of Brazil
5. United States of Central America 
6. United States of Colombia
7. United States of Indonesia
8. United States of the Ionian Islands
9. United State of Saurashtra
10. United States of Stellaland
11. United State of Travancore and Cochin
12. United States of Venezuela
13. United Arab States

our goal is tho change *'United states'* to *'United States of America'*

### You can view everyting and search for 'united states' in a loop:

In [35]:
whatever_table = [[0,5,'a'],[1,6,'b'],[2,7,'c'],[3,8,'United States'],[4,9,'e']]

print(whatever_table)

for i in range(len(whatever_table)):
    for j in range(len(whatever_table[i])):
        if whatever_table[i][j] == 'United States':
            whatever_table[i][j] = 'United States of America'
            
print(whatever_table)

[[0, 5, 'a'], [1, 6, 'b'], [2, 7, 'c'], [3, 8, 'United States'], [4, 9, 'e']]
[[0, 5, 'a'], [1, 6, 'b'], [2, 7, 'c'], [3, 8, 'United States of America'], [4, 9, 'e']]

### but you shoudn't

In [40]:
import pandas as pd

df = pd.DataFrame({'no': [0, 1, 2, 3, 4],
                   'mark': [5, 6, 7, 8, 9],
                   'letter': ['a', 'b', 'c', 'United States', 'e']})
display(df)
df.replace(to_replace='United States', value='United States of America')

   no  mark         letter
0   0     5              a
1   1     6              b
2   2     7              c
3   3     8  United States
4   4     9              e

   no  mark                    letter
0   0     5                         a
1   1     6                         b
2   2     7                         c
3   3     8  United States of America
4   4     9                         e

## Importing table from internet site
Let say you want to import some particular table from site with more than one table, example:\
[List of Olympic records in athletics](https://en.wikipedia.org/wiki/List_of_Olympic_records_in_athletics)\
you can import tables and point to the one that you want to work with:

In [102]:
import pandas as pd
import requests 

url = "http://en.wikipedia.org/wiki/List_of_Olympic_records_in_athletics"
resp = requests.get(url)
url_tables = pd.read_html(resp.text)

print(f'There are {len(url_tables)} tables pulled in a {type(url_tables)} variable called url_tables from given url. Head of the second is:')
url_tables[1].head()

There are 9 tables pulled in a <class 'list'> variable called url_tables from given url. Head of the second is:

,Event,Record,Athlete(s),Nation,Games,Date,Ref(s)
0,100 metres,10.61,Elaine Thompson Herah,Jamaica (JAM),2020 Tokyo,"July 31, 2021",[32]
1,200 metres,♦21.34,Florence Griffith Joyner,United States (USA),1988 Seoul,"September 29, 1988",[33][34]
2,400 metres,48.25,Marie-José Pérec,France (FRA),1996 Atlanta,"July 29, 1996",[35]
3,800 metres,1:53.43,Nadezhda Olizarenko,Soviet Union (URS),1980 Moscow,"July 27, 1980",[35]
4,"1,500 metres",3:53.11,Faith Kipyegon,Kenya (KEN),2020 Tokyo,"August 6, 2021",[36]

Let say you want to work with the second, so you can select it like above using: url_tables[1].
But imagine wikipedia site was changed and the order of tables has been switched then your program is not working properly.
There are at least two solutions to this problem:
1. Pull table that you want a little bit more robustly than the order. (further problems: url changes, table update bricks our choice anyway and so on ... )
2. Save the table in jupyter notebook or in a file.

### 1. Choose table from a site.
if you press "inspect" in browser you can open DOM Tree (HTML Document Object Model). Sometimes tables have names like in this example:\
"List of women's Olympic records in athletics".
Now from tables you pulled from url you can select one with that name:

In [87]:
# ...[0] at the end removes the outside list. We can hope there is only one table with a particular name on a site (you should check it, how to check it?)
named_url_table = pd.read_html(url, match="List of women's Olympic records in athletics")[0]

In [93]:
named_url_table.head()

,Event,Record,Athlete(s),Nation,Games,Date,Ref(s)
0,100 metres,10.61,Elaine Thompson Herah,Jamaica (JAM),2020 Tokyo,"July 31, 2021",[32]
1,200 metres,♦21.34,Florence Griffith Joyner,United States (USA),1988 Seoul,"September 29, 1988",[33][34]
2,400 metres,48.25,Marie-José Pérec,France (FRA),1996 Atlanta,"July 29, 1996",[35]
3,800 metres,1:53.43,Nadezhda Olizarenko,Soviet Union (URS),1980 Moscow,"July 27, 1980",[35]
4,"1,500 metres",3:53.11,Faith Kipyegon,Kenya (KEN),2020 Tokyo,"August 6, 2021",[36]

On other occasion table can have id <- thing in a html DOM and so on. More here:\
[Scrape Table from Website](https://pandas.pydata.org/docs/reference/api/pandas.read_html.html)

In [110]:
# another pull for one who know html you can use html attributes if for example table has unique id it can be pulled with id.
another_named_url_table = pd.read_html(url, attrs={'class':'wikitable sortable plainrowheaders'})
print(f'On the page {url} there are {len(another_named_url_table)} <table class="wikitable sortable plainrowheaders">  tables.')

On the page http://en.wikipedia.org/wiki/List_of_Olympic_records_in_athletics there are 3 <table class="wikitable sortable plainrowheaders">  tables.

### 2. Save next to notebook.
Save your_data_frame with 
```python
your_data_frame.to_csv('your_data_frame.csv')
```
comand, and send with jupyter project.

In [92]:
named_url_table.to_csv('named_url_table.csv', index=False)